@model Slijterij_Sjonnie.Models.Etiket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Etiket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductieGebied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductieGebied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlcoholPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlcoholPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfbeeldingPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AfbeeldingPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
