@model IEnumerable<Slijterij_Sjonnie.Models.Whisky>

@{
    ViewBag.Title = "Reservering";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_DashboardPartial")

<h2>Reservering</h2>



<div class="container bg-body-content">

    <div class="row">
        <!--Grid row-->

            @foreach (var item in Model)
            {


                <div style="margin-bottom: 25px;" class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">

                                <!--Grid column-->
                                <div class="col-lg-6 mb-lg-0 mb-md-4">



                                    <!--Image-->
                                    <div class="view overlay z-depth-1-half">
                                        <img style="max-height: 340px;" src="@Url.Content(item.Etiket.AfbeeldingPath)" class="img-fluid"
                                             alt="">
                                        <a href="#">
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>

                                <div class="col-lg-6 pre-scrollable">

                                    <h3 class="font-weight-bold">@item.Etiket.Naam</h3>

                                    <span class="text-black-50">Naam:</span><p class="text-muted"> @item.Etiket.Naam</p>
                                    <span class="text-black-50">Soort:</span><p class="text-muted"> @item.Etiket.Soort</p>
                                    <span class="text-black-50">Productiegebied:</span><p class="text-muted"> @item.Etiket.ProductieGebied</p>
                                    <span class="text-black-50">Leeftijd:</span><p class="text-muted"> @item.Leeftijd.Date.Year</p>
                                    <span class="text-black-50">Alcoholpercentage:</span><p class="text-muted"> @item.Etiket.AlcoholPercentage</p>
                                    <span class="text-black-50">Prijs:</span><p class="text-muted"> €@item.Etiket.Prijs</p>
                                    @using (Html.BeginForm(new { id = @item.Id }))
                                    {
                                        
                                        <button class="btn btn-info btn-md waves-effect" type="submit" href="#" name="aantal">
                                            Reserveer<i class="fa fa-download ml-1"></i>
                                        </button>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
            <!--Grid row-->

        </div>
    </div>







    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
