@model Slijterij_Sjonnie.ViewModels.ReserveringViewModel

@{
    ViewBag.Title = "Reserveringen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_DashboardPartial")


<h2>Reserveringen</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container bg-body-content">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                <p>
                    Find by name: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" />
                </p>
            }
            <table style="margin-top: 10px;" class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>
                            Naam
                        </th>
                        <th>
                            Soort
                        </th>
                        <th>
                            Productiegebied
                        </th>
                        <th>
                            Leeftijd
                        </th>
                        <th>
                            Alcoholpercentage
                        </th>
                        <th>
                            Voorraad
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.Whiskies)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etiket.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etiket.Soort)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etiket.ProductieGebied)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leeftijd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etiket.AlcoholPercentage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aantal)
                    </td>
                    <td>
                        @Html.ActionLink("Reserveer", "Reserveer", new { id = item.Id, }, htmlAttributes: new { @class = "btn btn-primary btn-sm" })
                    </td>
                </tr>
                    }

            </table>
        </div>
    </div>
</div>