
@if (Request.IsAuthenticated)
{
    <div class="bg-body-light">
        <div class="bg-body-content text-center">
            <h1 class="mb-2">Welkom @User.Identity.Name</h1>
            <h2 class="h4 font-w400 text-muted mb-0">Dit is het dashboard!</h2>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Whiskies", "Home")">Whiskies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Reservering", "Home")">Reservering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Over ons</a>
                </li>
            </ul>
        </div>
    </nav>
}
else
{
    <div class="bg-body-light">
        <div class="bg-body-content text-center">
            <h1 class="mb-2">Welkom bezoeker</h1>
            <h2 class="h4 font-w400 text-muted mb-0">Dit is het dashboard!</h2>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Whiskies", "Home")">Whiskies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Reservering", "Home")">Reservering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Over ons</a>
                </li>
            </ul>
        </div>
    </nav>
}

